@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft World4Play.com';
  src: url('../../public/fonts/minecraft-font/MinecraftRegular-Bmg3.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Minecraft World4Play.com', sans-serif;
}

html {
  height: 100vh;
  background-image: radial-gradient(circle, #2f0053, #22084b, #170c41, #100c37, #0c0a2c, #0a0926, #080720, #05061a, #060718, #060815, #080912, #090a0f);
}

.height {
  height: 100vh; /* Set the desired height */
  overflow: hidden;
}

.hire-me {
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
}

.star-field {
  position: fixed;
  z-index: -1;
}

.star {
  position: absolute;
  /* border-radius: 50%; */
  transition: opacity 2s alternate;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
  transform-origin: center;
}

.star.twinkle {
  animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}


