@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100vh;
  overflow: hidden;
  /* background: radial-gradient(ellipse at bottom, #271e3f 0%,  #090a0f 60%); */
  background: linear-gradient(to top, #0c0c3c 0%,  #090a0f 90%);
  /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #191F24 100%); */
}
.navbar {
  background-color: #090a0f;
}

.button-bg {
  background-color:#f647f692;
}

.height {
  height: 100vh; /* Set the desired height */
  overflow: hidden;
  
}

.star-field {
  position: fixed;
  z-index: -1;
}

.star {
  position: absolute;
  border-radius: 50%;
  transition: opacity 2s alternate;
  transform-origin: center;
}

.star.twinkle {
  animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1.4);
  }
}